.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: coral;
}

.divOr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Or {
  z-index: 10;
  background-color: aquamarine;
  padding: 1rem;
  border-radius: 3rem;
}

.custom-shape-divider-top-1689271681 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1689271681 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 69px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1689271681 .shape-fill {
  fill: #924DCF;
}

.custom-shape-divider-bottom-1689271754 {
  z-index: -0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689271754 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 69px;
  }

.custom-shape-divider-bottom-1689271754 .shape-fill {
  fill: #924DCF;
}