.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.divOr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Or {
  z-index: 10;
  background-color: aquamarine;
  padding: 1rem;
  border-radius: 3rem;
}
