@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

.panel{
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 100vh;
    aspect-ratio: 2/3;
    background-color: red;
    border-left: 5px solid black;
    border-right: 5px solid black;
    cursor: pointer;
    z-index: 10;
}

.panel:hover{

    filter: brightness(50%);
}


#panel-text{
    background-color: #EFEFEF;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: "Oxygen";
    font-size: 1.5rem;

    
}

#movie-name{
    font-weight: bolder;
}

@media screen and (max-width:1400px) {
    .panel{
        width: 50vw;
        height: 100vh;
    }
}
