@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

.panel{
    transition: 1s;
    opacity: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 99vh;
    transform: scale(1);
    background-image: url("Image-Not-Available.png");
    background-color: black;
    border-width:0.5vh;
    border-style: solid;
    border-color:white;
    cursor: pointer;
    z-index: 11;
}

#rating{
    transition: 1s;
    opacity: 100;
}



.panel:hover{

    filter: brightness(50%);
}


#panel-text{
    background-color: #EFEFEF;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: "Oxygen";
    font-size: 1.5rem;

    
}

#movie-name{
    font-weight: bolder;
}

@media screen and (max-width:1400px) {
    .panel{
        width: 50vw;
        height: 100vh;
    }
}
